<section class="main">
  <div class="container pb-4 my-sm-5 my-4">
    <div class="row">
      <div class="banners__single-item wow animate__zoomInDown">
        <div>
          <span class="text-light">Баннер 1</span>
          <img src="assets/images/banner1.png" alt="Баннер" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products">
  <div class="container">
    <div class="row text-center mb-sm-5 mb-4">
      <div class="col-12">
        <h1 class="mb-0 fs-2 fw-bold">
          Наши чайные коллекции
        </h1>
      </div>
    </div>
    <div class="row">
      <product-card class="col-lg-4 col-md-6 col-12 mb-4" *ngFor="let product of products"
                    [product]="product" (addToCartEvent)="addToCart($event)"></product-card>
    </div>
  </div>
</section>

<section class="questions">
  <div class="container py-sm-5 py-3">
    <div class="row text-center mb-sm-5 mb-4">
      <div class="col-12">
        <h2 class="fw-bold">
          Ответы на часто задаваемые вопросы
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2" id="accordion">
        <h3 class="fs-sm-6 fw-bold p-4 rounded-3 border-0 bg-primary text-light">
          Собираете ли вы подарочные боксы?
          <span class="arrow rotate"></span>
        </h3>
        <div class="ps-4 pb-lg-auto p-sm-auto border-0">
          <p class="mb-0">
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
            стоимость!
          </p>
        </div>
        <h3 class="fw-bold p-4 mt-3 rounded-3 border-0 bg-primary text-light">
          Сколько у вас разновидностей чая?
          <span class="arrow"></span>
        </h3>
        <div class="ps-4 pb-lg-auto p-sm-auto border-0">
          <p class="mb-0">
            У нас более 50 уникальных сортов чая, каждый из которых подарит вам неповторимые вкусовые
            ощущения. Откройте для себя разнообразие вкусов с нашей коллекцией!
          </p>
        </div>
        <h3 class="fw-bold p-4 mt-3 rounded-3 border-0 bg-primary text-light">
          В какой срок осуществляется доставка?
          <span class="arrow"></span>
        </h3>
        <div class="ps-4 pb-lg-auto p-sm-auto border-0">
          <p class="mb-0">
            Доставка осуществляется в течение 2-5 рабочих дней, в зависимости от вашего региона. Быстрая
            и
            надежная доставка для вашего удобства!
          </p>
        </div>
        <h3 class="fw-bold p-4 mt-3 rounded-3 border-0 bg-primary text-light">
          У вас обновляется ассортимент?
          <span class="arrow"></span>
        </h3>
        <div class="ps-4 pb-lg-auto p-sm-auto border-0">
          <p class="mb-0">
            Да, мы регулярно обновляем наш ассортимент, добавляя новые и эксклюзивные сорта чая. Следите
            за
            обновлениями, чтобы не пропустить новинки!
          </p>
        </div>
        <h3 class="fw-bold p-4 mt-3 rounded-3 border-0 bg-primary text-light">
          Какого объема у вас пачки чая?
          <span class="arrow"></span>
        </h3>
        <div class="ps-4 pb-lg-auto p-sm-auto border-0">
          <p class="mb-0">
            У нас представлены пачки чая объемом от 50 до 250 граммов, чтобы вы могли выбрать подходящий
            вариант. Наслаждайтесь любимым чаем в удобной упаковке!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section class="order" id="order">-->
<!--  <div class="container py-sm-4 py-3  wow animate__backInUp">-->
<!--    <div class="row text-center mb-sm-5 mb-3">-->
<!--      <div class="col-12">-->
<!--        <h2 class="fw-bold">-->
<!--          Сделать заказ-->
<!--        </h2>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">-->
<!--        <form class="row" action="#" method="post" id="form">-->
<!--          <div class="col-md-4">-->
<!--            <label class="form-label w-100 mb-3">-->
<!--              <span>Имя</span>-->
<!--              <input type="text" name="name" class="form-control mt-2 w-100" id="inputName"-->
<!--                     [(ngModel)]="formValues.name">-->
<!--            </label>-->
<!--          </div>-->
<!--          <div class="col-md-4">-->
<!--            <label class="form-label w-100 mb-3">-->
<!--              <span>Фамилия</span>-->
<!--              <input type="text" name="lastname" class="form-control mt-2 w-100" id="inputLastname"-->
<!--                     [(ngModel)]="formValues.last_name">-->
<!--            </label>-->
<!--          </div>-->
<!--          <div class="col-md-4">-->
<!--            <label class="form-label w-100 mb-">-->
<!--              <span>Телефон</span>-->
<!--              <input type="tel" name="phone" class="form-control mt-2 w-100" id="inputPhone"-->
<!--                     [(ngModel)]="formValues.phone">-->
<!--            </label>-->
<!--          </div>-->
<!--          <div class="col-md-6">-->
<!--            <label class="form-label w-100 mb-3">-->
<!--              <span>Страна</span>-->
<!--              <input type="text" name="country" class="form-control mt-2 w-100" id="inputCountry"-->
<!--                     [(ngModel)]="formValues.country">-->
<!--            </label>-->
<!--          </div>-->
<!--          <div class="col-md-6">-->
<!--            <label class="form-label w-100 mb-3">-->
<!--              <span>Индекс</span>-->
<!--              <input type="text" name="index" class="form-control mt-2 w-100" id="inputIndex"-->
<!--                     maxlength="6" [(ngModel)]="formValues.zip">-->
<!--            </label>-->
<!--          </div>-->
<!--          <div class="col-md-12">-->
<!--            <label class="form-label w-100 mb-4">-->
<!--              <span>Адрес</span>-->
<!--              <input type="text" name="address" class="form-control mt-2 w-100" id="inputAddress"-->
<!--                     [(ngModel)]="formValues.address">-->
<!--            </label>-->
<!--          </div>-->
<!--          <div class="col-md-12">-->
<!--            <label class="form-label w-100 mb-4">-->
<!--              <span>Товар</span>-->
<!--              <input type="text" name="product" class="form-control mt-2 w-100" id="inputProduct"-->
<!--                     [(ngModel)]="formValues.product">-->
<!--            </label>-->
<!--          </div>-->
<!--          <div class="col-md-12">-->
<!--            <label class="form-label w-100 mb-4">-->
<!--              <span>Комментарий</span>-->
<!--              <textarea type="text" name="comment" class="form-control mt-2 w-100" id="inputComment"-->
<!--                        [(ngModel)]="formValues.comment"></textarea>-->
<!--            </label>-->
<!--          </div>-->
<!--          <div class="col-md-3 pe-md-0">-->
<!--            <button type="submit" class="btn btn-primary w-100 hvr-push" id="inputButton">Отправить</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

