<section class="main">
  <div class="container pb-4 my-sm-5 my-4">
    <div class="row">
      <div class="banners__single-item wow animate__zoomInDown">
        <div>
          <span class="text-light">Баннер 1</span>
          <img src="assets/images/banner1.png" alt="Баннер" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="questions">
  <div class="container py-sm-5 py-3">
    <div class="row text-center mb-sm-5 mb-4">
      <div class="col-12">
        <h2 class="fw-bold">
          Ответы на часто задаваемые вопросы
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2" id="accordion">
        <h3 class="fs-sm-6 fw-bold p-4 rounded-3 border-0 bg-primary text-light">
          Собираете ли вы подарочные боксы?
          <span class="arrow rotate"></span>
        </h3>
        <div class="ps-4 pb-lg-auto p-sm-auto border-0">
          <p class="mb-0">
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
            стоимость!
          </p>
        </div>
        <h3 class="fw-bold p-4 mt-3 rounded-3 border-0 bg-primary text-light">
          Сколько у вас разновидностей чая?
          <span class="arrow"></span>
        </h3>
        <div class="ps-4 pb-lg-auto p-sm-auto border-0">
          <p class="mb-0">
            У нас более 50 уникальных сортов чая, каждый из которых подарит вам неповторимые вкусовые
            ощущения. Откройте для себя разнообразие вкусов с нашей коллекцией!
          </p>
        </div>
        <h3 class="fw-bold p-4 mt-3 rounded-3 border-0 bg-primary text-light">
          В какой срок осуществляется доставка?
          <span class="arrow"></span>
        </h3>
        <div class="ps-4 pb-lg-auto p-sm-auto border-0">
          <p class="mb-0">
            Доставка осуществляется в течение 2-5 рабочих дней, в зависимости от вашего региона. Быстрая
            и
            надежная доставка для вашего удобства!
          </p>
        </div>
        <h3 class="fw-bold p-4 mt-3 rounded-3 border-0 bg-primary text-light">
          У вас обновляется ассортимент?
          <span class="arrow"></span>
        </h3>
        <div class="ps-4 pb-lg-auto p-sm-auto border-0">
          <p class="mb-0">
            Да, мы регулярно обновляем наш ассортимент, добавляя новые и эксклюзивные сорта чая. Следите
            за
            обновлениями, чтобы не пропустить новинки!
          </p>
        </div>
        <h3 class="fw-bold p-4 mt-3 rounded-3 border-0 bg-primary text-light">
          Какого объема у вас пачки чая?
          <span class="arrow"></span>
        </h3>
        <div class="ps-4 pb-lg-auto p-sm-auto border-0">
          <p class="mb-0">
            У нас представлены пачки чая объемом от 50 до 250 граммов, чтобы вы могли выбрать подходящий
            вариант. Наслаждайтесь любимым чаем в удобной упаковке!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Модальное окно -->
<div class="modal fade" id="popup" #popup>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Посмотрите наши чайные коллекции</h5>
      </div>
      <div class="modal-body text-center">
        <a routerLink="/products" class="btn btn-primary" (click)="closeModal()">Смотреть</a>
      </div>
    </div>
  </div>
</div>

