<section class="order" id="order">
  <div class="container py-sm-4 py-3  wow animate__backInUp">
    <div class="row text-center mb-sm-5 mb-3">
      <div class="col-12">
        <h2 class="fw-bold">
          Сделать заказ
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <form class="row" action="#" method="post" id="form">
          <div class="col-md-4">
            <label class="form-label w-100 mb-3">
              <span>Имя</span>
              <input type="text" name="name" class="form-control mt-2 w-100" id="inputName" [(ngModel)]="formValues.name">
            </label>
          </div>
          <div class="col-md-4">
            <label class="form-label w-100 mb-3">
              <span>Фамилия</span>
              <input type="text" name="lastname" class="form-control mt-2 w-100" id="inputLastname" [(ngModel)]="formValues.last_name">
            </label>
          </div>
          <div class="col-md-4">
            <label class="form-label w-100 mb-">
              <span>Телефон</span>
              <input type="tel" name="phone" class="form-control mt-2 w-100" id="inputPhone" [(ngModel)]="formValues.phone">
            </label>
          </div>
          <div class="col-md-6">
            <label class="form-label w-100 mb-3">
              <span>Страна</span>
              <input type="text" name="country" class="form-control mt-2 w-100" id="inputCountry" [(ngModel)]="formValues.country">
            </label>
          </div>
          <div class="col-md-6">
            <label class="form-label w-100 mb-3">
              <span>Индекс</span>
              <input type="text" name="index" class="form-control mt-2 w-100" id="inputIndex" [(ngModel)]="formValues.zip">
            </label>
          </div>
          <div class="col-md-12">
            <label class="form-label w-100 mb-4">
              <span>Адрес</span>
              <input type="text" name="address" class="form-control mt-2 w-100" id="inputAddress" [(ngModel)]="formValues.address">
            </label>
          </div>
          <div class="col-md-12">
            <label class="form-label w-100 mb-4">
              <span>Товар</span>
              <input type="text" name="product" class="form-control mt-2 w-100" id="inputProduct" [(ngModel)]="formValues.product">
            </label>
          </div>
          <div class="col-md-12">
            <label class="form-label w-100 mb-4">
              <span>Комментарий</span>
              <textarea type="text" name="comment" class="form-control mt-2 w-100" id="inputComment" [(ngModel)]="formValues.comment"></textarea>
            </label>
          </div>
          <div class="col-md-3 pe-md-0">
            <button type="submit" class="btn btn-primary w-100 hvr-push" id="inputButton">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
