<header class="header">
  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid px-md-3">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="Логотип" class="mb-1">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="''" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/products'" routerLinkActive="active">Каталог</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Поиск чая" aria-label="Поиск" id="searchInput">
          <a routerLink="/products" class="btn btn-primary px-4" type="submit" id="searchButton">Найти</a>
        </form>
      </div>
    </div>
  </nav>
</header>

<!--<div id="test-popup" class="white-popup mfp-hide">-->
<!--  Popup content-->
<!--</div>-->
